# Ball State Academic Calendar

* What are the rules that determine important dates (e.g. first/last day of term)?
* Do holidays line up with official federal dates?

In [1]:
import os
import pathlib
import datetime
import dateutil
import calendar
import holidays
from dateutil import rrule

In [2]:
import sys
sys.path.append(os.environ['MY_MODULE_PATH'])

In [3]:
import importlib

In [7]:
importlib.reload(bsu_dates)

In [8]:
import bsu_dates

In [9]:
cal = bsu_dates.BSUCalendar(log_level='DEBUG')

_irule args: {'freq': 0, 'bymonth': 11, 'byweekday': TH(+4), 'dtstart': datetime.date(2012, 8, 1), 'count': 10}
_irule args: {'freq': 0, 'bymonth': 9, 'byweekday': MO(+1), 'dtstart': datetime.date(2012, 8, 1), 'count': 10}
_irule args: {'freq': 0, 'bymonth': 1, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 8, 1), 'count': 10}
_irule args: {'freq': 0, 'bymonth': 3, 'byweekday': MO(-1), 'dtstart': datetime.date(2012, 8, 1), 'count': 10}
_irule args: {'freq': 0, 'bymonth': 7, 'bymonthday': 4, 'dtstart': datetime.date(2012, 8, 1), 'count': 10}
_irule args: {'freq': 0, 'bymonth': 8, 'byweekday': MO(-2), 'dtstart': datetime.date(2012, 8, 1), 'count': 10}
_irule args: {'freq': 0, 'bymonth': 10, 'byweekday': MO(-2), 'dtstart': datetime.date(2012, 8, 1), 'count': 10}
_irule args: {'freq': 0, 'bymonth': 3, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 8, 1), 'count': 10}

In [86]:
cal.get_holiday("MLK Day", 2012)

2020-04-23 12:27:09,468 - bsu_dates - DEBUG - irule args: {'freq': 0, 'bymonth': 1, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 1, 1), 'count': 1}
2020-04-23 12:27:09,468 - bsu_dates - DEBUG - irule args: {'freq': 0, 'bymonth': 1, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 1, 1), 'count': 1}
2020-04-23 12:27:09,468 - bsu_dates - DEBUG - irule args: {'freq': 0, 'bymonth': 1, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 1, 1), 'count': 1}
2020-04-23 12:27:09,468 - bsu_dates - DEBUG - irule args: {'freq': 0, 'bymonth': 1, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 1, 1), 'count': 1}
2020-04-23 12:27:09,468 - bsu_dates - DEBUG - irule args: {'freq': 0, 'bymonth': 1, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 1, 1), 'count': 1}
DEBUG:bsu_dates:irule args: {'freq': 0, 'bymonth': 1, 'byweekday': MO(+3), 'dtstart': datetime.date(2012, 1, 1), 'count': 1}

datetime.datetime(2012, 1, 16, 0, 0)

In [90]:
this = {'a': 2}
print(list(this.keys()))

['a']

In [28]:
def month_day_year_to_iso(mdy):
    return '{2}-{0}-{1}'.format(*mdy.split('/'))

In [67]:
def pad_cal(yr, month, width=24):
    """Pad calendar string to print nicely"""
    return [ ln.ljust(width, ' ').rjust(width, ' ') for ln in calendar.month(yr, month).split('\n') ]

In [74]:
calendar.month(2012, 1)

'    January 2012\nMo Tu We Th Fr Sa Su\n                   1\n 2  3  4  5  6  7  8\n 9 10 11 12 13 14 15\n16 17 18 19 20 21 22\n23 24 25 26 27 28 29\n30 31\n'

In [75]:
print("  asdf")

asdf

In [30]:
def print_months(month, yr_start, yr_end):
    if yr_end - yr_start > 4:
        yr_end = yr_start + 4 
    return [ ''.join(args) for args in zip(*[pad_cal(yr, month) for yr in range(yr_start, yr_end + 1)]) ]

In [76]:
def pretty_year(year, month_start, month_end):
    return [ ''.join(args) for args in zip(*[pad_cal(year, mon) for mon in range(month_start, month_end)]) ]

In [78]:
def print_year(year, month_start, month_end):
    for line in pretty_year(year, month_start, month_end):
        print(line)

## Important date repeating rules
Rules determining important dates for each term:
- Start date
    - Fall: Second to last Monday of August
    - Spring:
    - Summer:
- End date
    - Fall: 116 days from the start
- Breaks/Holidays
    - Fall: 
        - Fall break: Second to last Monday of Oct and following Tues
        - Thanksgiving:
        - Labor day
    - Spring:
        - Spring break: Eight weeks after the start of classes
- Finals week is the last Tues-Fri of the term
- Midterm grades due by the end of the eighth week of semester
- Final grades dues the monday after semester ends
- Late registration window is the first week of classes
- Withdraw deadline
    - Fall: Wed after Fall break
    - Spring: Third Mond March
    - Summer:

In [80]:
for yr in range(2013, 2020):
    print_year(yr, 1, 7)

January 2013           February 2013             March 2013              April 2013               May 2013               June 2013
Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                 1  2  3                 1  2  3     1  2  3  4  5  6  7           1  2  3  4  5                    1  2
 7  8  9 10 11 12 13     4  5  6  7  8  9 10     4  5  6  7  8  9 10     8  9 10 11 12 13 14     6  7  8  9 10 11 12     3  4  5  6  7  8  9
14 15 16 17 18 19 20    11 12 13 14 15 16 17    11 12 13 14 15 16 17    15 16 17 18 19 20 21    13 14 15 16 17 18 19    10 11 12 13 14 15 16
21 22 23 24 25 26 27    18 19 20 21 22 23 24    18 19 20 21 22 23 24    22 23 24 25 26 27 28    20 21 22 23 24 25 26    17 18 19 20 21 22 23
28 29 30 31             25 26 27 28             25 26 27 28 29 30 31    29 30                   27 28 29 30 31          24 25 26 27 28 29 30

    January 2014           February 2014             March 2014              April 2014               May 2014               June 2014
Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su
       1  2  3  4  5                    1  2                    1  2        1  2  3  4  5  6              1  2  3  4                       1
 6  7  8  9 10 11 12     3  4  5  6  7  8  9     3  4  5  6  7  8  9     7  8  9 10 11 12 13     5  6  7  8  9 10 11     2  3  4  5  6  7  8
13 14 15 16 17 18 19    10 11 12 13 14 15 16    10 11 12 13 14 15 16    14 15 16 17 18 19 20    12 13 14 15 16 17 18     9 10 11 12 13 14 15
20 21 22 23 24 25 26    17 18 19 20 21 22 23    17 18 19 20 21 22 23    21 22 23 24 25 26 27    19 20 21 22 23 24 25    16 17 18 19 20 21 22
27 28 29 30 31          24 25 26 27 28          24 25 26 27 28 29 30    28 29 30                26 27 28 29 30 31       23 24 25 26 27 28 29
                                                31                                                                      30
    January 2015           February 2015             March 2015              April 2015               May 2015               June 2015
Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su
          1  2  3  4                       1                       1           1  2  3  4  5                 1  2  3     1  2  3  4  5  6  7
 5  6  7  8  9 10 11     2  3  4  5  6  7  8     2  3  4  5  6  7  8     6  7  8  9 10 11 12     4  5  6  7  8  9 10     8  9 10 11 12 13 14
12 13 14 15 16 17 18     9 10 11 12 13 14 15     9 10 11 12 13 14 15    13 14 15 16 17 18 19    11 12 13 14 15 16 17    15 16 17 18 19 20 21
19 20 21 22 23 24 25    16 17 18 19 20 21 22    16 17 18 19 20 21 22    20 21 22 23 24 25 26    18 19 20 21 22 23 24    22 23 24 25 26 27 28
26 27 28 29 30 31       23 24 25 26 27 28       23 24 25 26 27 28 29    27 28 29 30             25 26 27 28 29 30 31    29 30
                                                30 31
    January 2016           February 2016             March 2016              April 2016               May 2016               June 2016
Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su
             1  2  3     1  2  3  4  5  6  7        1  2  3  4  5  6                 1  2  3                       1           1  2  3  4  5
 4  5  6  7  8  9 10     8  9 10 11 12 13 14     7  8  9 10 11 12 13     4  5  6  7  8  9 10     2  3  4  5  6  7  8     6  7  8  9 10 11 12
11 12 13 14 15 16 17    15 16 17 18 19 20 21    14 15 16 17 18 19 20    11 12 13 14 15 16 17     9 10 11 12 13 14 15    13 14 15 16 17 18 19
18 19 20 21 22 23 24    22 23 24 25 26 27 28    21 22 23 24 25 26 27    18 19 20 21 22 23 24    16 17 18 19 20 21 22    20 21 22 23 24 25 26
25 26 27 28 29 30 31    29                      28 29 30 31             25 26 27 28 29 30       23 24 25 26 27 28 29    27 28 29 30
                                                                                                30 31
    January 2017           February 2017             March 2017              April 2017               May 2017               June 2017
Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su
                   1           1  2  3  4  5           1  2  3  4  5                    1  2     1  2  3  4  5  6  7              1  2  3  4
 2  3  4  5  6  7  8     6  7  8  9 10 11 12     6  7  8  9 10 11 12     3  4  5  6  7  8  9     8  9 10 11 12 13 14     5  6  7  8  9 10 11
 9 10 11 12 13 14 15    13 14 15 16 17 18 19    13 14 15 16 17 18 19    10 11 12 13 14 15 16    15 16 17 18 19 20 21    12 13 14 15 16 17 18
16 17 18 19 20 21 22    20 21 22 23 24 25 26    20 21 22 23 24 25 26    17 18 19 20 21 22 23    22 23 24 25 26 27 28    19 20 21 22 23 24 25
23 24 25 26 27 28 29    27 28                   27 28 29 30 31          24 25 26 27 28 29 30    29 30 31                26 27 28 29 30
30 31
    January 2018           February 2018             March 2018              April 2018               May 2018               June 2018
Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7              1  2  3  4              1  2  3  4                       1        1  2  3  4  5  6                 1  2  3
 8  9 10 11 12 13 14     5  6  7  8  9 10 11     5  6  7  8  9 10 11     2  3  4  5  6  7  8     7  8  9 10 11 12 13     4  5  6  7  8  9 10
15 16 17 18 19 20 21    12 13 14 15 16 17 18    12 13 14 15 16 17 18     9 10 11 12 13 14 15    14 15 16 17 18 19 20    11 12 13 14 15 16 17
22 23 24 25 26 27 28    19 20 21 22 23 24 25    19 20 21 22 23 24 25    16 17 18 19 20 21 22    21 22 23 24 25 26 27    18 19 20 21 22 23 24
29 30 31                26 27 28                26 27 28 29 30 31       23 24 25 26 27 28 29    28 29 30 31             25 26 27 28 29 30
                                                                        30
    January 2019           February 2019             March 2019              April 2019               May 2019               June 2019
Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                 1  2  3                 1  2  3     1  2  3  4  5  6  7           1  2  3  4  5                    1  2
 7  8  9 10 11 12 13     4  5  6  7  8  9 10     4  5  6  7  8  9 10     8  9 10 11 12 13 14     6  7  8  9 10 11 12     3  4  5  6  7  8  9
14 15 16 17 18 19 20    11 12 13 14 15 16 17    11 12 13 14 15 16 17    15 16 17 18 19 20 21    13 14 15 16 17 18 19    10 11 12 13 14 15 16
21 22 23 24 25 26 27    18 19 20 21 22 23 24    18 19 20 21 22 23 24    22 23 24 25 26 27 28    20 21 22 23 24 25 26    17 18 19 20 21 22 23
28 29 30 31             25 26 27 28             25 26 27 28 29 30 31    29 30                   27 28 29 30 31          24 25 26 27 28 29 30

In [ ]:
print_year(2013, 1, 7)

In [82]:
"MLK Day".lower().replace(' ', '_')

'mlk_day'

## First day of fall term is the second to last Monday of August

In [195]:
isinstance(datetime.timedelta(days=-1), datetime.timedelta)

True

In [69]:
# first day is always a monday
[ d.weekday() for d in first_days ]

[0, 0, 0, 0, 0, 0, 0, 0]

In [55]:
first_days

[datetime.date(2012, 8, 19),
 datetime.date(2013, 8, 19),
 datetime.date(2014, 8, 18),
 datetime.date(2015, 8, 24),
 datetime.date(2016, 8, 22),
 datetime.date(2017, 8, 21),
 datetime.date(2018, 8, 20),
 datetime.date(2019, 8, 19)]

In [145]:
list(rrule.rrule(rrule.YEARLY, dtstart=datetime.date(2012, 8, 1), count=5, bymonth=8, byweekday=rrule.MO(-1)))

[datetime.datetime(2012, 8, 27, 0, 0),
 datetime.datetime(2013, 8, 26, 0, 0),
 datetime.datetime(2014, 8, 25, 0, 0),
 datetime.datetime(2015, 8, 31, 0, 0),
 datetime.datetime(2016, 8, 29, 0, 0)]

In [51]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 8) for yr in range(2012, 2017)]) ]

['    August 2012             August 2013             August 2014             August 2015             August 2016         ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '       1  2  3  4  5              1  2  3  4                 1  2  3                    1  2     1  2  3  4  5  6  7    ',
 ' 6  7  8  9 10 11 12     5  6  7  8  9 10 11     4  5  6  7  8  9 10     3  4  5  6  7  8  9     8  9 10 11 12 13 14    ',
 '13 14 15 16 17 18 19    12 13 14 15 16 17 18    11 12 13 14 15 16 17    10 11 12 13 14 15 16    15 16 17 18 19 20 21    ',
 '20 21 22 23 24 25 26    19 20 21 22 23 24 25    18 19 20 21 22 23 24    17 18 19 20 21 22 23    22 23 24 25 26 27 28    ',
 '27 28 29 30 31          26 27 28 29 30 31       25 26 27 28 29 30 31    24 25 26 27 28 29 30    29 30 31                ',
 '                                                                        31                                              ']

In [56]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 8) for yr in range(2017, 2021)]) ]

['    August 2017             August 2018             August 2019             August 2020         ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '    1  2  3  4  5  6           1  2  3  4  5              1  2  3  4                    1  2    ',
 ' 7  8  9 10 11 12 13     6  7  8  9 10 11 12     5  6  7  8  9 10 11     3  4  5  6  7  8  9    ',
 '14 15 16 17 18 19 20    13 14 15 16 17 18 19    12 13 14 15 16 17 18    10 11 12 13 14 15 16    ',
 '21 22 23 24 25 26 27    20 21 22 23 24 25 26    19 20 21 22 23 24 25    17 18 19 20 21 22 23    ',
 '28 29 30 31             27 28 29 30 31          26 27 28 29 30 31       24 25 26 27 28 29 30    ',
 '                                                                        31                      ']

In [103]:
# midterm grades are due at the end of the eighth week of classes. 
# first of class is week=1, so add 4 days and 7 weeks from first day.
[ d + datetime.timedelta(weeks=7) + datetime.timedelta(days=4) for d in first_days ]

[datetime.date(2012, 10, 12),
 datetime.date(2013, 10, 11),
 datetime.date(2014, 10, 10),
 datetime.date(2015, 10, 16),
 datetime.date(2016, 10, 14),
 datetime.date(2017, 10, 13),
 datetime.date(2018, 10, 12),
 datetime.date(2019, 10, 11)]

## Spring starts 24 days after fall ends

In [182]:
spring_first = [ datetime.date.fromisoformat(d) for d in ['2013-01-07',
                                                        '2014-01-06',
                                                        '2015-01-05',
                                                        '2016-01-11',
                                                        '2017-01-09',
                                                        '2018-01-08',
                                                        '2019-01-07']
               ]

spring_last = [ datetime.date.fromisoformat(d) for d in ['2013-05-03',
                                                        '2014-05-02',
                                                        '2015-05-01',
                                                        '2016-05-06',
                                                        '2017-05-05',
                                                        '2018-05-04',
                                                        '2019-05-03']
               ]

In [183]:
# spring starts 24 days after fall ends
[ (y - x).days for x,y in zip(last_days, spring_first) ]

[24, 24, 24, 24, 24, 24, 24]

In [184]:
# spring term is 116 days long!
[ (y - x).days for x,y in zip(spring_first, spring_last) ]

[116, 116, 116, 116, 116, 116, 116]

In [175]:
print_months(1, 2012, 2016)

['    January 2012            January 2013            January 2014            January 2015            January 2016        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '                   1        1  2  3  4  5  6           1  2  3  4  5              1  2  3  4                 1  2  3    ',
 ' 2  3  4  5  6  7  8     7  8  9 10 11 12 13     6  7  8  9 10 11 12     5  6  7  8  9 10 11     4  5  6  7  8  9 10    ',
 ' 9 10 11 12 13 14 15    14 15 16 17 18 19 20    13 14 15 16 17 18 19    12 13 14 15 16 17 18    11 12 13 14 15 16 17    ',
 '16 17 18 19 20 21 22    21 22 23 24 25 26 27    20 21 22 23 24 25 26    19 20 21 22 23 24 25    18 19 20 21 22 23 24    ',
 '23 24 25 26 27 28 29    28 29 30 31             27 28 29 30 31          26 27 28 29 30 31       25 26 27 28 29 30 31    ',
 '30 31                                                                                                                   ']

In [177]:
print_months(1, 2017, 2021)

['    January 2017            January 2018            January 2019            January 2020            January 2021        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '                   1     1  2  3  4  5  6  7        1  2  3  4  5  6           1  2  3  4  5                 1  2  3    ',
 ' 2  3  4  5  6  7  8     8  9 10 11 12 13 14     7  8  9 10 11 12 13     6  7  8  9 10 11 12     4  5  6  7  8  9 10    ',
 ' 9 10 11 12 13 14 15    15 16 17 18 19 20 21    14 15 16 17 18 19 20    13 14 15 16 17 18 19    11 12 13 14 15 16 17    ',
 '16 17 18 19 20 21 22    22 23 24 25 26 27 28    21 22 23 24 25 26 27    20 21 22 23 24 25 26    18 19 20 21 22 23 24    ',
 '23 24 25 26 27 28 29    29 30 31                28 29 30 31             27 28 29 30 31          25 26 27 28 29 30 31    ',
 '30 31                                                                                                                   ']

## Length of term

In [71]:
# terms are always 116 days long
[ (y - x).days for x,y in zip(first_days, last_days)]

[116, 116, 116, 116, 116, 116, 116, 116]

## Last day of fall term is 116 days after the start 
* Term always ends on a friday, last day of class is the preceding monday.

In [78]:
first_days[0] + datetime.timedelta(days=116)

datetime.date(2012, 12, 14)

In [83]:
d.__repr__()

'datetime.date(2020, 4, 1)'

In [68]:
# Last day is always a friday
[ d.weekday() for d in last_days ]

[4, 4, 4, 4, 4, 4, 4, 4]

In [84]:
[ (d2.__str__(), (d1 + datetime.timedelta(days=116)).__str__()) for d1, d2 in zip(first_days, last_days) ]

[('2012-12-14', '2012-12-14'),
 ('2013-12-13', '2013-12-13'),
 ('2014-12-12', '2014-12-12'),
 ('2015-12-18', '2015-12-18'),
 ('2016-12-16', '2016-12-16'),
 ('2017-12-15', '2017-12-15'),
 ('2018-12-14', '2018-12-14'),
 ('2019-12-13', '2019-12-13')]

## Do holidays line up with official ones?

* Labor day always seems to be the same

In [89]:
d = labor_days[0]

In [90]:
us_hol = holidays.UnitedStates()

In [92]:
[ d in us_hol for d in labor_days ]

[True, True, True, True, True, True, True, True]

## Fall break starts second to last Monday of October and lasts two days

In [99]:
# I must have a bunch of typos
fall_break

[[datetime.date(2012, 10, 22), datetime.date(2012, 10, 23)],
 [datetime.date(2013, 10, 21), datetime.date(2013, 10, 22)],
 [datetime.date(2014, 10, 20), datetime.date(2014, 10, 21)],
 [datetime.date(2015, 10, 12), datetime.date(2015, 10, 13)],
 [datetime.date(2016, 10, 10), datetime.date(2016, 10, 11)],
 [datetime.date(2017, 10, 9), datetime.date(2017, 10, 10)],
 [datetime.date(2018, 10, 8), datetime.date(2018, 10, 9)],
 [datetime.date(2019, 10, 7), datetime.date(2019, 10, 8)]]

In [97]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 10) for yr in range(2012, 2017)]) ]

['    October 2012            October 2013            October 2014            October 2015            October 2016        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 ' 1  2  3  4  5  6  7        1  2  3  4  5  6           1  2  3  4  5              1  2  3  4                    1  2    ',
 ' 8  9 10 11 12 13 14     7  8  9 10 11 12 13     6  7  8  9 10 11 12     5  6  7  8  9 10 11     3  4  5  6  7  8  9    ',
 '15 16 17 18 19 20 21    14 15 16 17 18 19 20    13 14 15 16 17 18 19    12 13 14 15 16 17 18    10 11 12 13 14 15 16    ',
 '22 23 24 25 26 27 28    21 22 23 24 25 26 27    20 21 22 23 24 25 26    19 20 21 22 23 24 25    17 18 19 20 21 22 23    ',
 '29 30 31                28 29 30 31             27 28 29 30 31          26 27 28 29 30 31       24 25 26 27 28 29 30    ',
 '                                                                                                31                      ']

In [98]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 10) for yr in range(2017, 2021)]) ]

['    October 2017            October 2018            October 2019            October 2020        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '                   1     1  2  3  4  5  6  7        1  2  3  4  5  6              1  2  3  4    ',
 ' 2  3  4  5  6  7  8     8  9 10 11 12 13 14     7  8  9 10 11 12 13     5  6  7  8  9 10 11    ',
 ' 9 10 11 12 13 14 15    15 16 17 18 19 20 21    14 15 16 17 18 19 20    12 13 14 15 16 17 18    ',
 '16 17 18 19 20 21 22    22 23 24 25 26 27 28    21 22 23 24 25 26 27    19 20 21 22 23 24 25    ',
 '23 24 25 26 27 28 29    29 30 31                28 29 30 31             26 27 28 29 30 31       ',
 '30 31                                                                                           ']

## Thanksgiving break
* Official thanksgiving is always the 4th Thursday of November
* Thanksgiving break is always: the Wed before Thanksgiving to the Sunday after

In [121]:
[us_hol[d] for d in rrule.rrule(rrule.YEARLY, count=4, bymonth=11, byweekday=rrule.TH(4))]

['Thanksgiving', 'Thanksgiving', 'Thanksgiving', 'Thanksgiving']

In [188]:
[ d - datetime.timedelta(days=1) for d in rrule.rrule(rrule.YEARLY, dtstart=datetime.date(2012, 1, 1), count=4, bymonth=11, byweekday=rrule.TH(4))]

[datetime.datetime(2012, 11, 21, 0, 0),
 datetime.datetime(2013, 11, 27, 0, 0),
 datetime.datetime(2014, 11, 26, 0, 0),
 datetime.datetime(2015, 11, 25, 0, 0)]

In [191]:
d.date()

datetime.date(2012, 11, 22)

In [125]:
thk_rule = rrule.rrule(rrule.YEARLY, dtstart=datetime.date(2012, 1, 1), count=4, bymonth=11, byweekday=rrule.TH(4))

In [139]:
datetime.datetime.now().year

2020

In [143]:
semesters = ['Fall', 'Spring', 'Summer']
{ sem: 10 + x for sem, x in zip(semesters, range(0, 30, 10)) }

{'Fall': 10, 'Spring': 20, 'Summer': 30}

In [109]:
[ (y[0] - x).days for x,y in zip(first_days, thanks) ]

[93, 100, 100, 93, 93, 93, 93, 100]

In [110]:
thanks

[[datetime.date(2012, 11, 21), datetime.date(2012, 11, 25)],
 [datetime.date(2013, 11, 27), datetime.date(2013, 12, 1)],
 [datetime.date(2014, 11, 26), datetime.date(2014, 11, 30)],
 [datetime.date(2015, 11, 25), datetime.date(2015, 11, 29)],
 [datetime.date(2016, 11, 23), datetime.date(2016, 11, 27)],
 [datetime.date(2017, 11, 22), datetime.date(2017, 11, 26)],
 [datetime.date(2018, 11, 21), datetime.date(2018, 11, 25)],
 [datetime.date(2019, 11, 27), datetime.date(2019, 12, 1)]]

In [106]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 11) for yr in range(2012, 2017)]) ]

['   November 2012           November 2013           November 2014           November 2015           November 2016        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '          1  2  3  4                 1  2  3                    1  2                       1        1  2  3  4  5  6    ',
 ' 5  6  7  8  9 10 11     4  5  6  7  8  9 10     3  4  5  6  7  8  9     2  3  4  5  6  7  8     7  8  9 10 11 12 13    ',
 '12 13 14 15 16 17 18    11 12 13 14 15 16 17    10 11 12 13 14 15 16     9 10 11 12 13 14 15    14 15 16 17 18 19 20    ',
 '19 20 21 22 23 24 25    18 19 20 21 22 23 24    17 18 19 20 21 22 23    16 17 18 19 20 21 22    21 22 23 24 25 26 27    ',
 '26 27 28 29 30          25 26 27 28 29 30       24 25 26 27 28 29 30    23 24 25 26 27 28 29    28 29 30                ',
 '                                                                        30                                              ']

In [107]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 11) for yr in range(2017, 2021)]) ]

['   November 2017           November 2018           November 2019           November 2020        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '       1  2  3  4  5              1  2  3  4                 1  2  3                       1    ',
 ' 6  7  8  9 10 11 12     5  6  7  8  9 10 11     4  5  6  7  8  9 10     2  3  4  5  6  7  8    ',
 '13 14 15 16 17 18 19    12 13 14 15 16 17 18    11 12 13 14 15 16 17     9 10 11 12 13 14 15    ',
 '20 21 22 23 24 25 26    19 20 21 22 23 24 25    18 19 20 21 22 23 24    16 17 18 19 20 21 22    ',
 '27 28 29 30             26 27 28 29 30          25 26 27 28 29 30       23 24 25 26 27 28 29    ',
 '                                                                        30                      ']

In [9]:
thk = rrule.rrule(rrule.YEARLY, dtstart=datetime.date.fromisoformat('2012-01-01'), count=100, bymonth=11, byweekday=rrule.TH(4))

In [18]:
ithk = iter(thk)

In [33]:
gthk = (d for d in thk)

In [38]:
next(gthk)

datetime.datetime(2016, 11, 24, 0, 0)