# Ball State Academic Calendar

* What are the rules that determine important dates (e.g. first/last day of term)?
* Do holidays line up with official federal dates?

In [111]:
import datetime
import dateutil
import calendar
import holidays
from dateutil import rrule

In [23]:
def month_day_year_to_iso(mdy):
    return '{2}-{0}-{1}'.format(*mdy.split('/'))

In [176]:
def print_months(month, yr_start, yr_end):
    if yr_end - yr_start > 4:
        yr_end = yr_start + 4 
    return [ ''.join(args) for args in zip(*[pad_cal(yr, month) for yr in range(yr_start, yr_end + 1)]) ]

## Important dates taken from the academic calendar found online

In [61]:
h_201210 = (('08/20/2012', '12/14/2012'),    # first, last day
            ('09/03/2012',                   # Labor day
            ('10/22/2012', '10/23/2012'),    # Fall break
            ('11/21/2012', '11/25/2012')))   # Thanksgiving

h_201220 = (('01/07/2013', '05/03/2013'),    # first, last day
            ('01/21/2013',                   # MLK day
            ('03/03/2013', '03/10/2013')))   # Spring break

h_201230 = (('05/13/2013', '07/19/2013'),    # first, last day
            ('05/27/2013',                   # Memorial day
            '07/04/2013'))                   # Ind. day

h_201310 = (('08/19/2013', '12/13/2013'),
            ('09/02/2013',
            ('10/21/2013', '10/22/2013'),
            ('11/27/2013', '12/01/2013')))

h_201320 = (('01/06/2014', '05/02/2014'),
            ('01/20/2014',
            ('03/09/2014', '03/16/2014')))

h_201330 = (('05/12/2014', '07/18/2014'),
            ('05/26/2014',
            '07/04/2014'))

h_201410 = (('08/18/2014', '12/12/2014'),
            ('09/01/2014',
            ('10/20/2014', '10/21/2014'),
            ('11/26/2014', '11/30/2014')))

h_201420 = (('01/05/2015', '05/01/2015'),
            ('01/19/2015',
            ('03/01/2015', '03/08/2015')))

h_201430 = (('05/11/2015', '07/17/2015'),
            ('05/25/2015',
            '07/04/2015'))

h_201510 = (('08/24/2015', '12/18/2015'),
            ('09/07/2015',
            ('10/12/2015', '10/13/2015'),
            ('11/25/2015', '11/29/2015')))

h_201520 = (('01/11/2016', '05/06/2016'),
            ('01/18/2016',
            ('03/06/2016', '03/13/2016')))

h_201530 = (('05/16/2016', '07/22/2016'),
            ('05/30/2016',
            '07/04/2016'))

h_201610 = (('08/22/2016', '12/16/2016'),
            ('09/05/2016',
            ('10/10/2016', '10/11/2016'),
            ('11/23/2016', '11/27/2016')))

h_201620 = (('01/09/2017', '05/05/2017'),
            ('01/16/2017',
            ('03/05/2017', '03/12/2017')))

h_201630 = (('05/15/2017', '07/21/2017'),
            ('05/29/2017',
            '07/04/2017'))

h_201710 = (('08/21/2017', '12/15/2017'),
            ('09/04/2017',
            ('10/09/2017', '10/10/2017'),
            ('11/22/2017', '11/26/2017')))

h_201720 = (('01/08/2018', '05/04/2018'),
            ('01/15/2018',
            ('03/04/2018', '03/11/2018')))

h_201730 = (('05/14/2018', '07/20/2018'),
            ('05/28/2018',
            '07/04/2018'))

h_201810 = (('08/20/2018', '12/14/2018'),
            ('09/03/2018',
            ('10/08/2018', '10/09/2018'),
            ('11/21/2018', '11/25/2018')))

h_201820 = (('01/07/2019', '05/03/2019'),
            ('01/21/2019',
            ('03/03/2019', '03/10/2019')))

h_201830 = (('05/13/2019', '07/19/2019'),
            ('05/27/2019',
            '07/04/2019'))

h_201910 = (('08/19/2019', '12/13/2019'),
            ('09/02/2019',
            ('10/07/2019', '10/08/2019'),
            ('11/27/2019', '12/01/2019')))

h_201920 = (('01/06/2020', '05/01/2020'),
            ('01/21/2020',
            ('03/03/2020', '03/10/2020')))

h_201930 = (('05/11/2020', '07/17/2020'),
            ('05/27/2020',
            '07/04/2020'))

In [104]:
years = range(2012, 2020)

first_days = []
last_days = []
labor_days = []
fall_break = []
thanks = []
days = {}

semesters = [10, 20, 30]

for yr in years:
    for term in [100*yr + 10]:
        h_code = 'h_' + str(term)
        if h_code in locals().keys():
            h_var = locals()[h_code]
            first, last = h_var[0]
            first_days.append(datetime.date.fromisoformat(month_day_year_to_iso(first)))
            last_days.append(datetime.date.fromisoformat(month_day_year_to_iso(last)))
            labor_days.append(datetime.date.fromisoformat(month_day_year_to_iso(h_var[1][0])))
            
            brk = list(map(datetime.date.fromisoformat, map(month_day_year_to_iso, h_var[1][1])))
            fall_break.append(brk)
            
            brk = list(map(datetime.date.fromisoformat, map(month_day_year_to_iso, h_var[1][2])))
            thanks.append(brk)

In [94]:
list(map(datetime.date.fromisoformat, map(month_day_year_to_iso, h_var[1][1])))

[datetime.date(2019, 10, 7), datetime.date(2019, 10, 8)]

In [45]:
def pad_cal(yr, month, width=24):
    """Pad calendar string to print nicely"""
    return [ ln.ljust(width, ' ') for ln in calendar.month(yr, month).split('\n') ]

## Important registration dates
* "Late" registration open for the first week of class (Mon-Fri)
* Withdraw period ends the Wednesday after Fall Break

## TermDates
Rules determining important dates for each term:
- Start date
    - Fall: Second to last Monday of August
    - Spring:
    - Summer:
- End date
    - Fall: 116 days from the start
- Breaks/Holidays
    - Fall: 
        - Fall break: Second to last Monday of Oct and following Tues
        - Thanksgiving:
        - Labor day
    - Spring:
        - Spring break:
- Finals week is the last Tues-Fri of the term
- Midterm grades due by the end of the eighth week of semester
- Final grades dues the monday after semester ends
- Late registration window is the first week of classes
- Withdraw deadline
    - Fall: Wed after Fall break
    - Spring: 
    - Summer:

## First day of fall term is the second to last Monday of August

In [195]:
isinstance(datetime.timedelta(days=-1), datetime.timedelta)

True

In [69]:
# first day is always a monday
[ d.weekday() for d in first_days ]

[0, 0, 0, 0, 0, 0, 0, 0]

In [55]:
first_days

[datetime.date(2012, 8, 19),
 datetime.date(2013, 8, 19),
 datetime.date(2014, 8, 18),
 datetime.date(2015, 8, 24),
 datetime.date(2016, 8, 22),
 datetime.date(2017, 8, 21),
 datetime.date(2018, 8, 20),
 datetime.date(2019, 8, 19)]

In [145]:
list(rrule.rrule(rrule.YEARLY, dtstart=datetime.date(2012, 8, 1), count=5, bymonth=8, byweekday=rrule.MO(-1)))

[datetime.datetime(2012, 8, 27, 0, 0),
 datetime.datetime(2013, 8, 26, 0, 0),
 datetime.datetime(2014, 8, 25, 0, 0),
 datetime.datetime(2015, 8, 31, 0, 0),
 datetime.datetime(2016, 8, 29, 0, 0)]

In [51]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 8) for yr in range(2012, 2017)]) ]

['    August 2012             August 2013             August 2014             August 2015             August 2016         ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '       1  2  3  4  5              1  2  3  4                 1  2  3                    1  2     1  2  3  4  5  6  7    ',
 ' 6  7  8  9 10 11 12     5  6  7  8  9 10 11     4  5  6  7  8  9 10     3  4  5  6  7  8  9     8  9 10 11 12 13 14    ',
 '13 14 15 16 17 18 19    12 13 14 15 16 17 18    11 12 13 14 15 16 17    10 11 12 13 14 15 16    15 16 17 18 19 20 21    ',
 '20 21 22 23 24 25 26    19 20 21 22 23 24 25    18 19 20 21 22 23 24    17 18 19 20 21 22 23    22 23 24 25 26 27 28    ',
 '27 28 29 30 31          26 27 28 29 30 31       25 26 27 28 29 30 31    24 25 26 27 28 29 30    29 30 31                ',
 '                                                                        31                                              ']

In [56]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 8) for yr in range(2017, 2021)]) ]

['    August 2017             August 2018             August 2019             August 2020         ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '    1  2  3  4  5  6           1  2  3  4  5              1  2  3  4                    1  2    ',
 ' 7  8  9 10 11 12 13     6  7  8  9 10 11 12     5  6  7  8  9 10 11     3  4  5  6  7  8  9    ',
 '14 15 16 17 18 19 20    13 14 15 16 17 18 19    12 13 14 15 16 17 18    10 11 12 13 14 15 16    ',
 '21 22 23 24 25 26 27    20 21 22 23 24 25 26    19 20 21 22 23 24 25    17 18 19 20 21 22 23    ',
 '28 29 30 31             27 28 29 30 31          26 27 28 29 30 31       24 25 26 27 28 29 30    ',
 '                                                                        31                      ']

In [103]:
# midterm grades are due at the end of the eighth week of classes. 
# first of class is week=1, so add 4 days and 7 weeks from first day.
[ d + datetime.timedelta(weeks=7) + datetime.timedelta(days=4) for d in first_days ]

[datetime.date(2012, 10, 12),
 datetime.date(2013, 10, 11),
 datetime.date(2014, 10, 10),
 datetime.date(2015, 10, 16),
 datetime.date(2016, 10, 14),
 datetime.date(2017, 10, 13),
 datetime.date(2018, 10, 12),
 datetime.date(2019, 10, 11)]

## Spring starts 24 days after fall ends

In [182]:
spring_first = [ datetime.date.fromisoformat(d) for d in ['2013-01-07',
                                                        '2014-01-06',
                                                        '2015-01-05',
                                                        '2016-01-11',
                                                        '2017-01-09',
                                                        '2018-01-08',
                                                        '2019-01-07']
               ]

spring_last = [ datetime.date.fromisoformat(d) for d in ['2013-05-03',
                                                        '2014-05-02',
                                                        '2015-05-01',
                                                        '2016-05-06',
                                                        '2017-05-05',
                                                        '2018-05-04',
                                                        '2019-05-03']
               ]

In [183]:
# spring starts 24 days after fall ends
[ (y - x).days for x,y in zip(last_days, spring_first) ]

[24, 24, 24, 24, 24, 24, 24]

In [184]:
# spring term is 116 days long!
[ (y - x).days for x,y in zip(spring_first, spring_last) ]

[116, 116, 116, 116, 116, 116, 116]

In [175]:
print_months(1, 2012, 2016)

['    January 2012            January 2013            January 2014            January 2015            January 2016        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '                   1        1  2  3  4  5  6           1  2  3  4  5              1  2  3  4                 1  2  3    ',
 ' 2  3  4  5  6  7  8     7  8  9 10 11 12 13     6  7  8  9 10 11 12     5  6  7  8  9 10 11     4  5  6  7  8  9 10    ',
 ' 9 10 11 12 13 14 15    14 15 16 17 18 19 20    13 14 15 16 17 18 19    12 13 14 15 16 17 18    11 12 13 14 15 16 17    ',
 '16 17 18 19 20 21 22    21 22 23 24 25 26 27    20 21 22 23 24 25 26    19 20 21 22 23 24 25    18 19 20 21 22 23 24    ',
 '23 24 25 26 27 28 29    28 29 30 31             27 28 29 30 31          26 27 28 29 30 31       25 26 27 28 29 30 31    ',
 '30 31                                                                                                                   ']

In [177]:
print_months(1, 2017, 2021)

['    January 2017            January 2018            January 2019            January 2020            January 2021        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '                   1     1  2  3  4  5  6  7        1  2  3  4  5  6           1  2  3  4  5                 1  2  3    ',
 ' 2  3  4  5  6  7  8     8  9 10 11 12 13 14     7  8  9 10 11 12 13     6  7  8  9 10 11 12     4  5  6  7  8  9 10    ',
 ' 9 10 11 12 13 14 15    15 16 17 18 19 20 21    14 15 16 17 18 19 20    13 14 15 16 17 18 19    11 12 13 14 15 16 17    ',
 '16 17 18 19 20 21 22    22 23 24 25 26 27 28    21 22 23 24 25 26 27    20 21 22 23 24 25 26    18 19 20 21 22 23 24    ',
 '23 24 25 26 27 28 29    29 30 31                28 29 30 31             27 28 29 30 31          25 26 27 28 29 30 31    ',
 '30 31                                                                                                                   ']

## Length of term

In [71]:
# terms are always 116 days long
[ (y - x).days for x,y in zip(first_days, last_days)]

[116, 116, 116, 116, 116, 116, 116, 116]

## Last day of fall term is 116 days after the start 
* Term always ends on a friday, last day of class is the preceding monday.

In [78]:
first_days[0] + datetime.timedelta(days=116)

datetime.date(2012, 12, 14)

In [83]:
d.__repr__()

'datetime.date(2020, 4, 1)'

In [68]:
# Last day is always a friday
[ d.weekday() for d in last_days ]

[4, 4, 4, 4, 4, 4, 4, 4]

In [84]:
[ (d2.__str__(), (d1 + datetime.timedelta(days=116)).__str__()) for d1, d2 in zip(first_days, last_days) ]

[('2012-12-14', '2012-12-14'),
 ('2013-12-13', '2013-12-13'),
 ('2014-12-12', '2014-12-12'),
 ('2015-12-18', '2015-12-18'),
 ('2016-12-16', '2016-12-16'),
 ('2017-12-15', '2017-12-15'),
 ('2018-12-14', '2018-12-14'),
 ('2019-12-13', '2019-12-13')]

## Do holidays line up with official ones?

* Labor day always seems to be the same

In [89]:
d = labor_days[0]

In [90]:
us_hol = holidays.UnitedStates()

In [92]:
[ d in us_hol for d in labor_days ]

[True, True, True, True, True, True, True, True]

## Fall break starts second to last Monday of October and lasts two days

In [99]:
# I must have a bunch of typos
fall_break

[[datetime.date(2012, 10, 22), datetime.date(2012, 10, 23)],
 [datetime.date(2013, 10, 21), datetime.date(2013, 10, 22)],
 [datetime.date(2014, 10, 20), datetime.date(2014, 10, 21)],
 [datetime.date(2015, 10, 12), datetime.date(2015, 10, 13)],
 [datetime.date(2016, 10, 10), datetime.date(2016, 10, 11)],
 [datetime.date(2017, 10, 9), datetime.date(2017, 10, 10)],
 [datetime.date(2018, 10, 8), datetime.date(2018, 10, 9)],
 [datetime.date(2019, 10, 7), datetime.date(2019, 10, 8)]]

In [97]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 10) for yr in range(2012, 2017)]) ]

['    October 2012            October 2013            October 2014            October 2015            October 2016        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 ' 1  2  3  4  5  6  7        1  2  3  4  5  6           1  2  3  4  5              1  2  3  4                    1  2    ',
 ' 8  9 10 11 12 13 14     7  8  9 10 11 12 13     6  7  8  9 10 11 12     5  6  7  8  9 10 11     3  4  5  6  7  8  9    ',
 '15 16 17 18 19 20 21    14 15 16 17 18 19 20    13 14 15 16 17 18 19    12 13 14 15 16 17 18    10 11 12 13 14 15 16    ',
 '22 23 24 25 26 27 28    21 22 23 24 25 26 27    20 21 22 23 24 25 26    19 20 21 22 23 24 25    17 18 19 20 21 22 23    ',
 '29 30 31                28 29 30 31             27 28 29 30 31          26 27 28 29 30 31       24 25 26 27 28 29 30    ',
 '                                                                                                31                      ']

In [98]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 10) for yr in range(2017, 2021)]) ]

['    October 2017            October 2018            October 2019            October 2020        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '                   1     1  2  3  4  5  6  7        1  2  3  4  5  6              1  2  3  4    ',
 ' 2  3  4  5  6  7  8     8  9 10 11 12 13 14     7  8  9 10 11 12 13     5  6  7  8  9 10 11    ',
 ' 9 10 11 12 13 14 15    15 16 17 18 19 20 21    14 15 16 17 18 19 20    12 13 14 15 16 17 18    ',
 '16 17 18 19 20 21 22    22 23 24 25 26 27 28    21 22 23 24 25 26 27    19 20 21 22 23 24 25    ',
 '23 24 25 26 27 28 29    29 30 31                28 29 30 31             26 27 28 29 30 31       ',
 '30 31                                                                                           ']

## Thanksgiving break
* Official thanksgiving is always the 4th Thursday of November
* Thanksgiving break is always: the Wed before Thanksgiving to the Sunday after

In [121]:
[us_hol[d] for d in rrule.rrule(rrule.YEARLY, count=4, bymonth=11, byweekday=rrule.TH(4))]

['Thanksgiving', 'Thanksgiving', 'Thanksgiving', 'Thanksgiving']

In [188]:
[ d - datetime.timedelta(days=1) for d in rrule.rrule(rrule.YEARLY, dtstart=datetime.date(2012, 1, 1), count=4, bymonth=11, byweekday=rrule.TH(4))]

[datetime.datetime(2012, 11, 21, 0, 0),
 datetime.datetime(2013, 11, 27, 0, 0),
 datetime.datetime(2014, 11, 26, 0, 0),
 datetime.datetime(2015, 11, 25, 0, 0)]

In [191]:
d.date()

datetime.date(2012, 11, 22)

In [125]:
thk_rule = rrule.rrule(rrule.YEARLY, dtstart=datetime.date(2012, 1, 1), count=4, bymonth=11, byweekday=rrule.TH(4))

In [139]:
datetime.datetime.now().year

2020

In [143]:
semesters = ['Fall', 'Spring', 'Summer']
{ sem: 10 + x for sem, x in zip(semesters, range(0, 30, 10)) }

{'Fall': 10, 'Spring': 20, 'Summer': 30}

In [109]:
[ (y[0] - x).days for x,y in zip(first_days, thanks) ]

[93, 100, 100, 93, 93, 93, 93, 100]

In [110]:
thanks

[[datetime.date(2012, 11, 21), datetime.date(2012, 11, 25)],
 [datetime.date(2013, 11, 27), datetime.date(2013, 12, 1)],
 [datetime.date(2014, 11, 26), datetime.date(2014, 11, 30)],
 [datetime.date(2015, 11, 25), datetime.date(2015, 11, 29)],
 [datetime.date(2016, 11, 23), datetime.date(2016, 11, 27)],
 [datetime.date(2017, 11, 22), datetime.date(2017, 11, 26)],
 [datetime.date(2018, 11, 21), datetime.date(2018, 11, 25)],
 [datetime.date(2019, 11, 27), datetime.date(2019, 12, 1)]]

In [106]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 11) for yr in range(2012, 2017)]) ]

['   November 2012           November 2013           November 2014           November 2015           November 2016        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '          1  2  3  4                 1  2  3                    1  2                       1        1  2  3  4  5  6    ',
 ' 5  6  7  8  9 10 11     4  5  6  7  8  9 10     3  4  5  6  7  8  9     2  3  4  5  6  7  8     7  8  9 10 11 12 13    ',
 '12 13 14 15 16 17 18    11 12 13 14 15 16 17    10 11 12 13 14 15 16     9 10 11 12 13 14 15    14 15 16 17 18 19 20    ',
 '19 20 21 22 23 24 25    18 19 20 21 22 23 24    17 18 19 20 21 22 23    16 17 18 19 20 21 22    21 22 23 24 25 26 27    ',
 '26 27 28 29 30          25 26 27 28 29 30       24 25 26 27 28 29 30    23 24 25 26 27 28 29    28 29 30                ',
 '                                                                        30                                              ']

In [107]:
[ ''.join(args) for args in zip(*[pad_cal(yr, 11) for yr in range(2017, 2021)]) ]

['   November 2017           November 2018           November 2019           November 2020        ',
 'Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    Mo Tu We Th Fr Sa Su    ',
 '       1  2  3  4  5              1  2  3  4                 1  2  3                       1    ',
 ' 6  7  8  9 10 11 12     5  6  7  8  9 10 11     4  5  6  7  8  9 10     2  3  4  5  6  7  8    ',
 '13 14 15 16 17 18 19    12 13 14 15 16 17 18    11 12 13 14 15 16 17     9 10 11 12 13 14 15    ',
 '20 21 22 23 24 25 26    19 20 21 22 23 24 25    18 19 20 21 22 23 24    16 17 18 19 20 21 22    ',
 '27 28 29 30             26 27 28 29 30          25 26 27 28 29 30       23 24 25 26 27 28 29    ',
 '                                                                        30                      ']